@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULT THEME */
body {
  background-color: #070707;
  color: #e5e5e5;
  font-family: ui-sans-serif, system-ui;
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* DARK THEME */
.dark body {
  background-color: #f5f5f5;
  color: #121212;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

/* PREMIUM SELECTION */
::selection {
  background: #fbbf24;
  color: black;
}
