@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3b3539;
  color: #e5e5e5;
  transition: all 0.3s ease;
}

.dark body {
  background-color: #f5f5f5;
  color: #1a1a1a;
}
